div{
border: 1px #444;
padding: 10px;
}
.menu{
display: flex;
flex-direction: row;
justify-content: space-around;
    background-color: aqua;
border-bottom: 10px aliceblue;
}
.header{
display: flex;
flex-direction: row;
justify-content: space-around;
background-color:cadetblue;
}
.content{
display: flex;
flex-direction: row;
justify-content: space-around;
background-color:cadetblue;
}
.menu div{
background-color:cadetblue;
border: 2px red;
font-size: 20px;   
}
.he-1{
width: 70%;
font-family:"Lucida Console","Monaco";
}
.he-2{
width: 20%;
}
.block-1{
width: 64%;
background-color:cadetblue;
}
.block-2{
width: 30%;
background-color: aquamarine;
}
.he-2 img{
width: 20%;
}
.block-2-2 img{
border: 2px black solid;
width: 40%;
margin: 10px;
}
.footer{
background-color:cadetblue;
}